:root {
    --primary-color: #22254b;
    --primary-fade: rgba(34, 37, 75, .4);
    --secondary-color: #373b69;
    --secondary-fade: rgba(55, 59, 105, .9);
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    justify-content: center;
    width: 100vw;
}

.row {
    display: flex;
    flex: 1 0 0;
    min-width: 100%;
    height: 100%;
    padding: 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.movie.hide {
    display: none;
}

header {
    padding: 10px 30px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--secondary-color);
    margin-bottom: 20px;
    z-index: 5;
}

.search {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    outline: none;
    background-color: var(--primary-color);
}

.favorites-display {
    position: absolute;
    top: 64px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
    width: 67vw;
    overflow-y: scroll;
    background: rgba(255, 255, 255,.9);
    z-index: 2;
    transform: translateX(-101%);
    transition: all .5s ease-in;
    padding: 20px;
}

.favorites-display.show {
    transform: translateX(0);
}

.favorites-wrapper {
    position: relative;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    gap: 20px;
}

.movie,
.favorite {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 520px;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.fav-btn,
.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bolder;
    background-color: var(--secondary-fade);
    color: indianred;
    border-radius: 10px;
    border: none;
    outline: none;
}

.fav-btn.hide {
    display: none;
}

.movie img,
.favorites img {
    width: 100%;
    height: 450px;
}

.movie-info,
.favorite-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: .5px;
}

.movie-info h3,
.favorite-info h3 {
    margin-top: 0;
}

.movie-info span,
.favorite-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green,
.favorite-info span.green {
    color: lightgreen;
}

.movie-info span.orange,
.favorite-info span.orange {
    color: orange;
}

.movie-info span.red,
.favorite-info span.red {
    color: red;
}

.overview,
.favorite-overview {
    background-color: var(--secondary-color);
    color: #eee;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    /* overflow-y: auto; */
    transition: transform .5s ease-in;
}

.movie:hover .overview, .favorite:hover .favorite-overview {
    transform: translateY(0);
}

/* MAGIC ROTATING BOX-SHADOW EFFECT */

/* @property --rotate { */
/*   syntax: "<angle>"; */
/*   initial-value: 132deg; */
/*   inherits: false; */
/* } */

/* :root { */
/*   --card-height: 65vh; */
/*   --card-width: calc(var(--card-height) / 1.5); */
/* } */

/* body { */
/*   min-height: 100vh; */
/*   background: #212534; */
/*   display: flex; */
/*   align-items: center; */
/*   flex-direction: column; */
/*   padding-top: 2rem; */
/*   padding-bottom: 2rem; */
/*   box-sizing: border-box; */
/* } */

/* .card { */
/*   background: #191c29; */
/*   width: var(--card-width); */
/*   height: var(--card-height); */
/*   padding: 3px; */
/*   position: relative; */
/*   border-radius: 6px; */
/*   justify-content: center; */
/*   align-items: center; */
/*   text-align: center; */
/*   display: flex; */
/*   font-size: 1.5em; */
/*   color: rgb(88 199 250 / 0%); */
/*   cursor: pointer; */
/*   font-family: cursive; */
/* } */

/* .card:hover { */
/*   color: rgb(88 199 250 / 100%); */
/*   transition: color 1s; */
/* } */
/* .card:hover:before, .card:hover:after { */
/*   animation: none; */
/*   opacity: 0; */
/* } */

/* .card::before { */
/*   content: ""; */
/*   width: 104%; */
/*   height: 102%; */
/*   border-radius: 8px; */
/*   background-image: linear-gradient( */
/*     var(--rotate) */
/*     , #5ddcff, #3c67e3 43%, #4e00c2); */
/*     position: absolute; */
/*     z-index: -1; */
/*     top: -1%; */
/*     left: -2%; */
/*     animation: spin 2.5s linear infinite; */
/* } */

/* .card::after { */
/*   position: absolute; */
/*   content: ""; */
/*   top: calc(var(--card-height) / 6); */
/*   left: 0; */
/*   right: 0; */
/*   z-index: -1; */
/*   height: 100%; */
/*   width: 100%; */
/*   margin: 0 auto; */
/*   transform: scale(0.8); */
/*   filter: blur(calc(var(--card-height) / 6)); */
/*   background-image: linear-gradient( */
/*     var(--rotate) */
/*     , #5ddcff, #3c67e3 43%, #4e00c2); */
/*     opacity: 1; */
/*   transition: opacity .5s; */
/*   animation: spin 2.5s linear infinite; */
/* } */

/* @keyframes spin { */
/*   0% { */
/*     --rotate: 0deg; */
/*   } */
/*   100% { */
/*     --rotate: 360deg; */
/*   } */
/* } */

/* a { */
/*   color: #212534; */
/*   text-decoration: none; */
/*   font-family: sans-serif; */
/*   font-weight: bold; */
/*   margin-top: 2rem; */
/* } */